* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    color: #222;
    line-height: 1.6;
}


/* Navigation */

nav {
    max-width: 900px;
    margin: auto;
    padding: 25px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 20px;
    font-weight: 500;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    color: #111;
}


/* Home */
.profile-photo { 
    margin-bottom: 21px;
}

.profile-photo img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.home {
    max-width: 900px;
    margin: auto;

    min-height: 8vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px 20px;
}

.small-text {
    color: #777;
    font-size: 15px;
    margin-bottom: 1px;
}

.home h1 {
    font-size: 55px;
    font-weight: 500;
    letter-spacing: -2px;
}

.description {
    max-width: 500px;
    color: #666;
    margin: 15px 0 25px;
}

.button {
    width: fit-content;

    padding: 9px 17px;

    border: 1px solid #222;
    border-radius: 9px;

    color: #222;
    text-decoration: none;

    font-size: 14px;

    transition: 0.2s;
}

.button:hover {
    background: #222;
    color: white;
}


/* Sections */

section:not(.home) {
    max-width: 900px;
    margin: auto;
    padding: 20px 20px;
}

section h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}

section p {
    max-width: 650px;
    color: #666;
}


/* Projects */

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.project {
    padding: 20px;

    border: 1px solid #000000;
    border-radius: 30px;

    transition: 0.2s;
}

.project:hover {
    border-color: #aaa;
}

.project h3 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
}

.project p {
    font-size: 14px;
    margin-bottom: 18px;
}
.project a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.project a:hover {
    font-size: 14px;
    margin-bottom: 18px;
    color: #000
}

.project span {
    font-size: 12px;
    color: #888;
}


/* Skills */

.skills {
    font-size: 16px;
}


/* Contact */

.contact-links {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.contact-links a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.contact-links a:hover {
    color: #111;
    border-color: #111;
}


/* Footer */

footer {
    max-width: 900px;
    margin: auto;

    padding: 30px 20px;

    border-top: 1px solid #010101;

    color: #000000;
    font-size: 12px;
}


/* Mobile */

@media (max-width: 700px) {

    .nav-links {
        gap: 12px;
    }

    .home h1 {
        font-size: 42px;
    }

    .projects {
        grid-template-columns: 1fr;
    }

}
